@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FC Minimal";
  src: local("FC Minimal"),
    url("./assets/fonts/FC_Minimal_Regular.ttf") format("truetype");
}

:root {
  font-family: "FC Minimal", sans-serif;
  font-size: 16px;
  height: 100%;
}

body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  font-weight: bold;
}

nav a.active {
  color: blue;
}
